DJ equipment also allows the DJ to preview a source of recorded music in headphones before playing it for the audience. Previewing the music in headphones helps the DJ pick the next track they want to play and cue up the track to the desired starting location so it will mix well with the currently playing music...